<%- include('../../partials/header.ejs') %>

<section class="articles-new">
    <div class="container">
        <h1>Editar artigo - <%= article.title %></h1>
        <form method="POST" action="/articles/edit">
            <label>Título</label>
            <input type="text" name="title" value="<%= article.title %>"></input>
            <br>
            <label>Artigo</label>
            <textarea name="body" id="article"></textarea>
            <br>
            <label>Categoria</label>
            <select name="category">
                <% categories.forEach((category) => { %>
                    <% if (category.id === article.categoriaId) { %>
                        <option value="<%= category.id %>" selected><%= category.title %></option>
                    <% } else { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% } %>
                <% }) %>
            </select>
            <br>
            <input type="hidden" name="id" value="<%= article.id %>"></input>
            <input type="submit" class="btn-save" value="Salvar"></a>
        </form>
    </div>
</section>

<div id="content" style="display: none">
    <%- article.body %>
</div>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            "advlist", "autolink", "link", "image", "lists", "preview", "searchreplace", "wordcount", "fullscreen", "insertdatetime", "media", "save", "table", "paste", "emoticons"
        ],
        init_instance_callback: () => {
            tinymce.get("article").setContent(document.querySelector("#content").innerHTML);
        }
    })
</script>

<%- include('../../partials/footer.ejs') %>
