<%- include ('partials/home-header.ejs') %>

<main class="main">
  <div class="container">
    <ul>
      <li>
        <div>
          <h2><%= article.title %></h2>
          <span><%= article.category.title %></span>
        </div>
        <p><%- article.body %></p>
      </li>
    </ul>
  </div>
</main>

<%- include ('partials/footer.ejs') %>
