<%- include ('partials/home-header.ejs') %>

<main class="main">
  <div class="container">
    <div class="buttons-wrapper">
      <a href="/login" class="btn-save">Login</a>
      <a href="/register" class="btn-save">Cadastro</a>
    </div>
    <ul>
      <% articles.forEach((article) => { %>
      <li>
        <div>
          <h2><%= article.title %></h2>
          <% if (category) { %>
          <span><%= category.title %></span>
          <% } else { %>
          <span><%= article.category.title %></span>
          <% } %>
        </div>
        <a href="/articles/<%= article.slug %>" class="btn-save"
          >Visualizar artigo</a
        >
      </li>
      <% }) %>
    </ul>
  </div>
</main>

<%- include ('partials/footer.ejs') %>
